body {
    background-color:dodgerblue !important
}

#rows {
    margin-top:30px;
    background-color: whitesmoke !important
        
}

.carousel-inner > .item > img {
    width: 100% !important;
    height: 500px !important;
}

