

#navBar{
    background-color:white
}

#jumbotron {
    margin-top: 150px !important
}


#logo {
    height: 100% !important;
    width: 100px !important;
}

.navbar-brand {
    margin-left: 15px !important;
}

.htmlActionLinks{
    margin-top: 30px !important;
    
}
.htmlActionLinks:hover {
    color:dodgerblue !important;
}